body {
    background-color: rgb(44, 44, 98);
}
body h1 {
    
    text-align: center;
    color: rgb(243, 199, 240);
    margin-top: 100px;
}

#box {
    margin-inline: auto;
    width: 70%;
    padding-block: 60px;
    border-radius: 5px;
    background-color: rgb(162, 107, 158);
}

label {
    
    padding-left: 40px;
    padding-right: 30%;
}

.textfield {
    background-color: rgb(243, 199, 240);

    margin-bottom: 10px;
    width: 50%;
    border-radius: 5px;
}


#contentlabel {
    padding-right: 25.5%;
}

#divStyle {
    background-color: rgb(243, 199, 240);

    border-radius: 1px;
    width: 10px;
    height: 10px;
}

#checkboxlabel {
    padding-right: 22.5%;
}

#button {
    background-color: rgb(243, 199, 240);
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
    margin-top: 10px;
    margin-inline-start: 40px;
}

#description {
    border: 2px solid black;
    margin-top: 10px;
    padding: 5px 3px 5px 5px;
    margin-inline: 40px;
}