body {
    background-color: rgb(44, 44, 98);
}
body h1 {
    text-align: center;
    color: white;
    margin-top: 100px;
}

#box {
    display: flex;
    margin-inline: auto;
    width: 70%;
    padding-block: 110px;
    border-radius: 5px;
    background-color: rgb(162, 107, 158);
}

label {
    display: block;
    padding-left: 40px;
    padding-right: 30%;
}

#color{
    width: 50%;
    border-radius: 5px;
    color: red;
}